.idea/
Opdrachten/weekTwo/npm-debug.log
Opdrachten/framework/npm-debug.log
Opdrachten/framework/node_modules/
Opdrachten/WebApp/node_modules/

eindopdracht/node_modules/
eindopdracht/.sass-cache/
eindopdracht/js/components/
eindopdracht/npm-debug.json