h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: $fontSizeTitle;
	color: $white;
}
h2 {
	font-size: 16px;
}
p, a, td, li {
	font-family: Verdana, Geneva, sans-serif;
	font-size:$fontSize;
}

