<section class="movie">
     <h1>{{ title }}</h1>
     

      {{#each movies}}
      <article>
         <header>
             <h1>{{ title }}</h1>
             <em>Release date: <time>{{ date }}</time></em>
             <em>Review rate: <time>{{ reviews }}</time></em>
         </header>
           <figure>
             <img src="{{ image }}" alt="{{ title }}">
         </figure>
         <p>{{ description }}</p>
        <a href="/app/#/movies/{{ id }}">Meer info</a>
      </article>
      {{/each}}
</section>